section{
    margin-bottom: 30px;
}

.lign{
    background-color:#0075D6 ;
    height: 1px;
    width: 100%;
    margin-top: 4px;

}
.section-title{
    color: #0075D6;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: left;
}
.tab{
    background-color: #F5FAFF;
    width: 100%;
    margin: auto;
    height: 50px;
}
.colonTitle{
    font-size: 20px;
    margin-top: 17px;
    text-align: center;
    text-overflow: ellipsis;
    word-wrap: break-word;  
}
.tabElements{
    width: 100%;
    margin: auto;
    height: 50px;
}


.form-control{
    width: 80%;
    border-color:#0075D6 ;
    background-color: #F5FAFF;
    border-radius: 10px;
}

.section-title{
    color: #0075D6;
    font-weight: bold;
    margin-bottom: 0px;
    width: 22%;
    text-align: left;
}

.chevronDown{
    right: 25%;
    position: absolute;
    top: 27%;
    font-size: 20px;
    color: #0075D6;
}
.rejected{
    color:#EA1601;
}
.accepted{
    color:#64BC26;
}
.pending{
    color:#FAD202;
}

.check{
    background: url(../../../../assets/icons/check_composant.svg) no-repeat left center;
    background-size: contain;
    height: 37px;
    width: 50px;
    margin: auto;
    position: absolute;
    left: 30%;
    bottom: 1%;
    cursor: pointer;
}
.cancel{
    background: url(../../../../assets/icons/delete_composant.svg) no-repeat left center;
    background-size: contain;
    height: 37px;
    width: 50px;
    margin: auto;
    position: absolute;
    left: 58%;
    bottom: 1%;
    cursor: pointer;
}