.card{
    background-color: #F5FAFF;
    height: 300px;
    width: 300px;
    border-radius: 32px;
    background-repeat: no-repeat;
    background-size: 140px;
    background-position: top;
    border: 2px solid #0075D6;
}


.userimg{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: auto;

}

.username{
    margin: auto;
    font-size: 24px;
    font-style: bold;
    font-weight: bold;
    height: 0%;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.userjob{
    margin: auto;
    font-size: 18px;
    font-style: normal;
    text-overflow: ellipsis;
    word-wrap: break-word;
}