.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  align-items: center;
  background-image: url('../../../assets/Logo/arriere.svg');
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.content-login {
  border-radius: 32px;
  padding: 56px;
  width: 35%;


  box-sizing: border-box;

position: absolute;


background: linear-gradient(149.55deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 99.42%);
/* Glass Effect */

box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(15px);;
/* Note: backdrop-filter has minimal browser support */
}

.content{
  padding: 40px 45px;
  height: 90vh;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: transparent;
  position: absolute;
  
  
  background: linear-gradient(149.55deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 99.42%);
  /* Glass Effect */
  
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
}



.logo{
  height: 65px;
  width: 190px;
  margin: auto;
  margin-bottom: 45px;
  
}
.Company .title{
    font-size: 30px;
    color: #3d3d3d;
    font-family: "Olivetta Medium";
    text-align: center;
    font-family: 'Lato';
font-style: normal;
    
}

.underTitle{
      font-size: 13px;
      color: #585858;
      text-align: center;
      margin: auto;    
      font-family: 'Lato';
font-style: normal;  
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
  box-sizing: border-box;
  display : inline;
  line-height: 0.5cm; 

}

.eye{
    cursor: pointer;
    font-size: 20px;
    color: #3d3d3d;
}

.select-sizeCompany{
  
  color: #585858;
}

.option-sizeCompany{
  background-color: 
  #4297DD;
  color: white;
  border-radius: 10px;
}

 .form-select {
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid white;
  appearance: none;
}  

hr {
  margin-top: 0rem;
  margin-bottom: 1rem;
  border: 0;
  
  border-top: 1px solid rgba(0,0,0,.1);
}

h5{
  color: #585858;
  text-align: center;
  padding-top: 20px;
  margin-bottom: auto;
  font-family: 'Lato';
font-style: normal;
}

p{
  color: #3d3d3d;
  text-align: center;
  font-family: 'Lato';
font-style: normal;
}
.coordonneesGenerale{
   margin-top: 20px ;

}


.entreprise{
  margin-top: 30px;
}
.compte{
  margin-top: 15px;
}
.inputs-margin{
  margin-bottom: 15px;
}