.content{
  padding: 40px 45px;
  height: 70vh;
  align-items: center;
  justify-content: center;
}



.mat-form-field {
  margin-top: 16px;
  
}

/* .resetPassword{
    padding: 0px  0px;
    
} */
.resetPassword3{
  padding: 0px  40px;
  /* margin-top: 50px; */
}


.logo{
  height: 65px;
  width: 190px;
  margin: auto;
  margin-bottom: 50px;
  top: 00px;
}

  .title{
      font-size: 30px;
      color:#000000;
      text-align: center;
      padding-top: 25px;
      margin-bottom: 40px;
      font-weight: bold;
  }
  .underTitle{
        font-size: 13px;
        color: #001833;
        font-weight: 600;
        text-align: center;
        margin: auto;
        
  }

  .seConnecter{
    text-align: center;
    font-size: 13px;
  }

  #cercle {
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background:black;
    margin-top: 16px;
}

hr.ligne{
    border-top: 1px solid #707070;
    width: 180px;
}

.col-md-1 input::placeholder, .col-md-1 input {
  text-align: center;
}
/*ouma add*/

.titlepass{
  text-align: center ;
  font-family: 'Lato';
  font-style: light;
 
  line-height: 45px;

  font-size: 34px;

font-weight: 300;
  
  color: #3D3D3D;
        top: 00px;
        width: 400px;
        height: 35px;
}

.text1
{

  text-align: center ;
  font-family: 'Lato';
  font-style: light;
 
  line-height: 45px;

  font-size:23px;

font-weight: 300;
  
color: #3D3D3D;
        top: 50px;
        width: 400px;
        height: 35px;
 
}

