<div class="login">
 
    <div class="content-login" >
  
      <div class="d-flex justify-content-center" style="align-content: center;">
       <img src="../../../assets/Logo/logo_Xhrm.png" style="width: 284px; top: 00px;
      ">
      </div>
      <br>
       <div class="titlepass">{{ "Mot de passe oublié ?" | translate }}</div>

<br>
<br><br>
      <div class="resetPassword"  style="text-align: center;">
        <div class="text1">
     Veuillez saisir l'adresse e-mail 
        </div>
        <div class="text1">
            associée à votre compte. nous vous 
               </div>
               <div class="text1">
             enverrons un code par e-mail pour 
                   </div>
                   <div class="text1">
                   réinitialiser votre mot de passe.
       </div>
        <br>
         
      <div class="w-100" floatLabel='always'>
        <div class="emailField">
          
          <input matInput  style=" padding-left:20px; " name="username" formControlName="username" id="email" placeholder="{{ 'LOGININPUT.emailInput' | translate }}"> 
        </div>
      </div>
        

    

        <div class="form-group">
            <button  style="margin-top:32px; 
            /* Primary/blue */
            
            background: #0075D6;
            /* Card Shadow */
            
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
            border-radius: 50px;" class=" h-75 btn-sign btn-sign-in" (click)="codeReset()" value="Log In">{{ 'resetPassword.btnenvoyer' | translate }}</button>
        </div>
<br> <br>
        <div class="seConnecter">
            <h5 style="color:#001833; margin-bottom: auto; font-size: 110%;">{{ 'resetPassword.seSouvenir' | translate }}</h5>
            <h5 style="color: #EF8200;cursor: pointer; font-size: 120%; " routerLink="/login">{{ 'LOGIN.btnConnecter' | translate }}</h5>
        </div>
    </div>
<!-- bloc2 -->
    <div class="resetPassword" [style.display]="afficherBlock2 ? 'block' : 'none'">
    
        <div class="logo">
            <img src="../../../assets/Logo/logo_Xhrm.png" style="width:100%"> 
           </div>

        <h1 class=" title ">{{ 'resetPassword.title2' | translate }}</h1>
        <h5 class="underTitle" style="width: 210px; margin-bottom: 55px;">{{ 'resetPassword.undertitle2' | translate }}</h5>

        <form [formGroup]="secondFormGroup" (ngSubmit)="verifierCode()">
           
                <!-- <input type="number" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input type="number" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input type="number" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input type="number" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /> -->
            
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="row" style="margin-bottom: 3%;">
                            <div class="col-md-1"><mat-form-field appearance="legacy">
                                <input matInput placeholder="2" formControlName="code1">
                              </mat-form-field></div>
                            <div class="col-md-1"><mat-form-field appearance="legacy">
                                <input matInput placeholder="2" formControlName="code2">
                              </mat-form-field></div>
                            <div class="col-md-1"><mat-form-field appearance="legacy">
                                <input matInput placeholder="2" formControlName="code3">
                              </mat-form-field></div>
                            <div class="col-md-1"><mat-form-field appearance="legacy">
                                <input matInput placeholder="2" formControlName="code4">
                              </mat-form-field></div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>

        </form>

        <div class="w-100" floatLabel='always'>
            <div class="emailField">
              &nbsp;              &nbsp; &nbsp; <mat-label class="emailField">{{ 'LOGIN.emailInput' | translate }}</mat-label>
              
    </div>    
        
        <div class="seConnecter" *ngIf="resendCode">
            <h5 style="color:#001833; margin-bottom: auto; font-size: 110%;">{{ 'resetPassword.pasDeCode' | translate }}</h5>
            <h5 style="color: #EF8200; cursor: pointer; font-size: 120%;" (click)="resendcode()">{{ 'resetPassword.btnRenvoyer' | translate }}</h5>
        </div>
        <div class="form-group">
            <button  type="submit" style="margin-top:27px;" class=" h-75 btn-sign btn-sign-in" value="Log In" (click)="verifierCode()">Confirmer</button>
        </div>
        
    </div>
<!-- bloc3 -->
    <div class="resetPassword3" [style.display]="afficherBlock3 ? 'block' : 'none'">
    
        <div class="logo">
            <img src="../../../assets/Logo/logo_Xhrm.png" style="width:100%"> 
           </div>

        <h1 class=" title ">{{ 'resetPassword.creerNvPassword' | translate }}</h1>
        <h5 class="underTitle" style="width:288px;">{{ 'resetPassword.notifNvPassword' | translate }}</h5>

        <form [formGroup]="thirdFormGroup">
            <mat-form-field class="w-100" floatLabel='always' style="margin-top: 7%;">
                <div class="passwordField">
                    <mat-label>{{ 'resetPassword.nvPassword' | translate }}</mat-label>
                    <div class="d-flex justify-content-between ">
                    <input matInput [type]="eyeSlash ? 'password' : 'text'"  name="password"  placeholder="123456789"formControlName="password"  id="password">
                    <i class="fas fa-eye eye" [style.display]="eyeSlash ? 'block' : 'none'" (click)="passwordEye()"></i>
                    <i class="fas fa-eye-slash eye" [style.display]="eyeSlash ? 'none' : 'block'" (click)="passwordEye()"></i>
                </div>
               </div>
            </mat-form-field>
            <mat-form-field class="w-100" floatLabel='always' style="margin-bottom: 5%;">
                <div class="passwordField">
                    <mat-label >{{ 'resetPassword.confirmerPassword' | translate }}</mat-label>
                    <div class="d-flex justify-content-between ">
                    <input matInput [type]="eyeSlash ? 'password' : 'text'"  name="password"placeholder="123456789"  formControlName="confirmPassword" >
                    <i class="fas fa-eye eye" [style.display]="eyeSlash ? 'block' : 'none'" (click)="passwordEye()"></i>
                    <i class="fas fa-eye-slash eye" [style.display]="eyeSlash ? 'none' : 'block'" (click)="passwordEye()"></i>
                    </div>
                </div>
            </mat-form-field>
        </form>

        <div class="form-group">
            <button type="submit" style="margin-top: 6px; " class=" h-75 btn-sign btn-sign-in" (click)="resetPassword()">{{ 'resetPassword.btnSauvegarder' | translate }}</button>
        </div>
    </div>
     </div>

    
  </div>