<div class="w3-sidebar w3-bar-block w3-light-grey w3-card">
    <a href="#" class="w3-bar-item w3-button">Link 1</a> 
    <a href="#" class="w3-bar-item w3-button">Link 2</a> 
    <div class="w3-dropdown-hover">
      <button class="w3-button">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="w3-dropdown-content w3-bar-block">
        <a href="#" class="w3-bar-item w3-button">Link</a>
        <a href="#" class="w3-bar-item w3-button">Link</a>
      </div>
    </div> 
    <a href="#" class="w3-bar-item w3-button">Link 3</a> 
  </div>
  

